body{
	overflow:hidden;
}

.page{
	width:100%;
	height:100%;
	position:absolute;
	text-align:center;
}

.page-current{
	z-index:1;
}

.hide{ display:none;}

.arrow-up{
	height:auto;
	width:25px;
	position:absolute;
	left:50%;
	top:92%;
	margin-left:-12px;
	z-index:99;
}
.page{
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.page-1{ background-image: url(../img/1.jpg);}
.page-2{ background-image: url(../img/2.jpg);}
.page-3{ background-image: url(../img/3.jpg);}
.page-4{ background-image: url(../img/4.jpg);}




.pt-page-moveToTop {
	-webkit-animation: moveToTop .6s ease both;
	animation: moveToTop .6s ease both;
}

.pt-page-moveFromTop {
	-webkit-animation: moveFromTop .6s ease both;
	animation: moveFromTop .6s ease both;
}

.pt-page-moveToBottom {
	-webkit-animation: moveToBottom .6s ease both;
	animation: moveToBottom .6s ease both;
}

.pt-page-moveFromBottom {
	-webkit-animation: moveFromBottom .6s ease both;
	animation: moveFromBottom .6s ease both;
}

.pt-page-moveIconUp {
	-webkit-animation: moveIconUp ease 1.5s both infinite;
	animation: moveToBottom ease 1.5s both infinite;
}





/********************************* keyframes **************************************/

/* move from / to  */

@-webkit-keyframes moveToTop {
	from { }
	to { -webkit-transform: translateY(-100%); }
}

@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@-webkit-keyframes moveToBottom {
	from { }
	to { -webkit-transform: translateY(100%); }
}
@-webkit-keyframes moveFromBottom {
	from { -webkit-transform: translateY(100%); }
}

@-webkit-keyframes moveIconUp {
	0% { -webkit-transform: translateY(100%); opacity:0;}
	50% { -webkit-transform: translateY(0%); opacity:1;}
	100% { -webkit-transform: translateY(-100%); opacity:0;}
}